<h2><%= @user.username.capitalize %></h2>
<!-- TODO: Need to add code to let people browse their current followed listings -->
<%= button_to "browse listings", places_url %>
<%= button_to "create listings", users_url %>
