<h2><%= @user.username.capitalize %></h2>
<!-- TODO: Need to add code to let people browse their current followed listings
           maybe do this in backbone view? -->
<%= link_to "browse listings", api_places_url %><br>
<%= link_to "create listings", api_places_url %>
