<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon1">Title</span>
  <input type="text" class="form-control" placeholder="Blurb (mandatory field)" aria-describedby="basic-addon1">
</div>
<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon2">Price</span>
  <input type="text" class="form-control" placeholder="Monthly Rent (mandatory field)" aria-describedby="basic-addon2">
  <input type="text" class="form-control" placeholder="Monthly Utilities" aria-describedby="basic-addon2">
  <input type="text" class="form-control" placeholder="Deposit" aria-describedby="basic-addon2">
</div>
<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon3">Type</span>
  <select class="form-control" id="sel1">
    <option>Shared Room</option>
    <option>Single Room</option>
    <option>Either</option>
  </select>
</div>
<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon4">Preference</span>
  <select class="form-control" id="sel1">
    <option>Male/Female</option>
    <option>Male</option>
    <option>Female</option>
  </select>
</div>
<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon5">Laundry</span>
  <select class="form-control" id="sel1">
    <option>Onsite Coin</option>
    <option>Free</option>
    <option>Laundromat</option>
  </select>
</div>
<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon6">Agreement</span>
  <select class="form-control" id="sel1">
    <option>Lease</option>
    <option>Sublet</option>
  </select>
</div>
<div class="input-group col-md-4">
  <span class="input-group-addon" id="basic-addon7">Description</span>
  <textarea class="form-control" placeholder="Some information about yourself or your place" rows="5" id="comment"></textarea>
</div>
<div class="input-group col-md-4">
  <button type="submit" class="btn btn-default">Submit</button>
</div>