<div class="col-md-6">
<p>title</p>
<p>price</p>
<p>utilities</p>
<p>deposit</p>
<p>type</p>
<p>preference</p>
<p>duration</p>
<p>laundry</p>
<p>lease/sublet</p>
<p>description</p>
<p></p>
<p></p>
<p></p>
<p></p>
</div>
