<div class="col-md-6">
<table class="table table-hover table-bordered">
<% _(details).each(function(attr) { %>
  <% if (place.get(attr)) { %>
    <tr>
      <% if (attr === "desc") { %>
        <td>Description</td>
      <% } else { %>
        <td class="text-capitalize col-md-3"><%= attr %></td>
      <% } %>
      <td><%= place.get(attr) %><br></td>
    </tr>
  <% } %>
<% }) %>
</table>
</div>